:root {
	--white: #ffffff;
	--blue: blue;
	--cool-blue-1: #033e48;
	--cool-blue-2: #006683;
	--cool-blue-3: #02849f;
	--hot-orange-1: #db850d;
	--hot-orange-2: #d95029;
	--pure-white: #ffffff;
	--cool-white: #fafcfd;
	--cool-fill: #f0f6f8;
	--hot-white: #fefcfa;
	--hot-fill: #ffffff;
	--light-gray: #d3d3d3;
	--html-gray: #9a9a9a;
	--dark-gray: #333333;
	--serif: poynter-oldstyle-display-nar, serif;
	--sans-serif: acumin-pro-condensed, sans-serif;
	/* breakpoint variables */
	--bp-small: 25;
	--bp-medium: 45;
	--bp-large: 55;
	--bp-xlarge: 65;
	/* colors */
	--color-bg: #f9f9fd;
	--color-text: #414141;
	/* initial values  */
	--text-wght: 400;
	--text-wdth: 100;
	--text-opsz: 16;
	/* set px value sizes */
	--p-size-s-px: 16;
	--p-size-m-px: 18;
	--p-size-l-px: 20;
	--h1-size-s-px: 24;
	--h1-size-m-px: 36;
	--h1-size-l-px: 52;
	--h2-size-s-px: 18;
	--h2-size-m-px: 24;
	--h2-size-l-px: 36;
	/* set scale values */
	--p-size-min: 1;
	--p-size-mid: 1.125;
	--p-size-max: 1.25;
	--p-lh-min: 1.3;
	--p-lh-mid: 1.4;
	--p-lh-max: 1.6;
	--p-wdth-min: 90;
	--p-wdth-mid: 95;
	--p-wdth-max: 100;
	--h1-size-min: 1.8;
	--h1-size-mid: 2.0;
	--h1-size-max: 2.6;
	--h1-size-super: 3.8;
	--h1-lh-min: 1.05;
	--h1-lh-mid: 1.075;
	--h1-lh-max: 1.1;
	--h1-lh-super: 1.4;
	--h1-wdth-min: 85;
	--h1-wdth-mid: 92.5;
	--h1-wdth-max: 100;
	--h1-wght-min: 600;
	--h1-wght-mid: 600;
	--h1-wght-max: 700;
	--h2-size-min: 1.2;
	--h2-size-mid: 1.5;
	--h2-size-max: 1.8;
	--h2-lh-min: 1.05;
	--h2-lh-mid: 1.075;
	--h2-lh-max: 1.1;
	--h2-wdth-min: 85;
	--h2-wdth-mid: 92.5;
	--h2-wdth-max: 100;
	--h2-wght-min: 600;
	--h2-wght-mid: 600;
	--h2-wght-max: 700; }

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--sans-serif), sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	/* display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto; */
	background-color: var(--cool-white);
	color: var(--dark-gray);
}

h1, .h1 {
	--text-opsz: 22;
	--text-wght: 600;
	font-family: var(--serif);
	color: var(--cool-blue-1);
	font-size: calc( var(--h1-size-min) * 1em);
	font-stretch: calc( var(--h1-wdth-min) * 1%);
	font-synthesis: none;
	font-weight: var(--h1-wght-min);
	line-height: var(--h1-lh-min);
	margin: 1rem auto;
	max-width: 48rem;
	font-variant: common-ligatures, oldstyle-nums;
	font-feature-settings: "liga", "onum";
	transition: all 0.5s ease-in-out; }
	@media screen and (min-width: 25em) {
	  h1 {
		line-height: calc(( var(--h1-lh-min) * 1em ) + ( var(--h1-lh-max) - var(--h1-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
		font-size: calc(( var(--h1-size-min) * 1em ) + ( var(--h1-size-max) - var(--h1-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); } }
	@media screen and (min-width: 45em) {
	  h1 {
		--text-opsz: 22;
		font-stretch: calc( var(--h1-wdth-mid) * 1%);
		font-weight: var(--h1-wght-mid);
		max-width: 40rem; } }
	@media screen and (min-width: 55em) {
	  h1 {
		font-weight: var(--h1-wght-max);
		max-width: 42rem; } }
	@media screen and (min-width: 65em) {
	  h1 {
		--text-opsz: 30;
		font-size: calc( var(--h1-size-max) * 1em);
		font-stretch: calc( var(--h1-wdth-max) * 1%);
		line-height: var(--h1-lh-max);
		max-width: 44rem; 
		} 
	}
h1 {
	margin: 2rem auto 1rem;
}
h1 a, h1 a:visited {
	color: var(--cool-blue-1);
	border-bottom: 6px solid;
	text-decoration: none;
}
h1 a:hover {
	color: var(--cool-blue-2);
}
h2, .h2 {
	--text-opsz: 18;
	--text-wght: 600;
	font-family: var(--sans-serif);
	color: var(--cool-blue-1);
	opacity: 0.6;
	font-size: calc( var(--h1-size-min) * 1em);
	font-stretch: calc( var(--h1-wdth-min) * 1%);
	font-synthesis: none;
	font-weight: var(--h1-wght-min);
	line-height: var(--h1-lh-min);
	margin: 0.8em auto .3em;
	max-width: 48rem;
	text-transform: lowercase;
	font-variant: small-caps;
	font-feature-settings: "smcp";
	font-variant: common-ligatures, oldstyle-nums;
	font-feature-settings: "liga", "onum";
	transition: all 0.5s ease-in-out; 
}
	@media screen and (min-width: 25em) {
	  h2 {
		line-height: calc(( var(--h2-lh-min) * 1em ) + ( var(--h2-lh-max) - var(--h2-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
		font-size: calc(( var(--h2-size-min) * 1em ) + ( var(--h2-size-max) - var(--h2-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); 
		} 
	}
	@media screen and (min-width: 45em) {
	  h2 {
		--text-opsz: 18;
		font-stretch: calc( var(--h2-wdth-mid) * 1%);
		font-weight: var(--h2-wght-mid);
		max-width: 40rem; 
		} 
	}
	@media screen and (min-width: 55em) {
	  h2 {
		font-weight: var(--h2-wght-max);
		max-width: 42rem; 
		} 
	}
	@media screen and (min-width: 65em) {
	  h2 {
		--text-opsz: 24;
		font-size: calc( var(--h2-size-max) * 1em);
		font-stretch: calc( var(--h2-wdth-max) * 1%);
		line-height: var(--h2-lh-max);
		max-width: 44rem; 
		} 
	}

p {
	--text-opsz: 16;
	--text-width: calc( var(--p-vf-wdth) * .9 );
	font-size: calc( var(--p-size-min) * 1em);
	font-stretch: calc( var(--p-wdth-min) * 1%);
	font-synthesis: none;
	/* font-weight: var(--text-wght); */
	font-weight: 400;
	/* font-variation-settings: "opsz" var(--text-opsz); */
	-webkit-hyphens: auto;
	hyphens: auto;
	line-height: var(--p-lh-min);
	margin: 0 auto;
	max-width: 48rem;
	transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out, word-spacing 0.5s ease-in-out, line-height 0.5s ease-in-out; }
	@media screen and (min-width: 25em) {
	  p {
		line-height: calc(( var(--p-lh-min) * 1em ) + ( var(--p-lh-max) - var(--p-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
		font-size: calc(( var(--p-size-min) * 1em ) + ( var(--p-size-max) - var(--p-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); } }
	@media screen and (min-width: 45em) {
	  p {
		--text-opsz: 18;
		font-stretch: calc( var(--p-wdth-mid) * 1%);
		max-width: 40rem; } }
	@media screen and (min-width: 55em) {
	  p {
		max-width: 42rem; } }
	@media (min-width: 65em) {
	  p {
		--text-opsz: 20;
		font-size: calc( var(--p-size-max) * 1em);
		font-stretch: calc( var(--p-wdth-max) * 1%);
		line-height: var(--p-lh-max);
		max-width: 44rem; 
		} 
	}
	p + p {
	  margin-top: 1em; }
	
	p.secondary-text {
		color: var(--html-gray);
	}

ul {
		list-style: square;
		list-style-image: url(#);
		max-width: 42rem;
		margin: 0 auto;
		font-size: calc( var(--p-size-min) * 1em);
	}

.hero-text {
	background-color: var(--cool-fill);
	padding:1.2rem 0;
	margin-bottom: 3rem;
}
.hero-text h1 {
	--text-opsz: 22;
}
@media screen and (min-width: 25em) {
	.hero-text h1 {
	  line-height: calc(( var(--h1-lh-super) * 1em ) + ( var(--h1-lh-super) - var(--h1-lh-super) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
	  font-size: calc(( var(--h1-size-max) * 1em ) + ( var(--h1-size-max) - var(--h1-size-max) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
	}
}
@media screen and (min-width: 65em) {
	.hero-text h1 {
		font-size: calc( var(--h1-size-super) * 1em);
		line-height: var(--h1-lh-super);
	}
}





/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.image-section {
	display: flex;
	margin: 3rem auto;
	max-width: 68rem;
	display: grid;
	grid-template-columns: repeat(1fr, 12);
	grid-column-gap: 2rem;
	align-items: center;
}
.image-section-01 .a,  
.image-section-03 .a {
	grid-column: 1 / span 6;
	grid-row: 1;
}

.image-section-01 .b,  
.image-section-03 .b {
	grid-column: 4 / span 6;
	grid-row: 1;
}
.image-section-02 .a {
	grid-column: 12 / span 6;
	grid-row: 1;
}
.image-section-02 .b {
	grid-column: 6 / span 6;
	grid-row: 1;
}

@media screen and (max-width: 480px) {
	.image-section-01 .a,  
	.image-section-03 .a {
		grid-column: 1 / span 12;
		grid-row: 1;
	}
	.image-section-01 .a img, 
	.image-section-02 .a img, 
	.image-section-03 .a img {
		max-width: 360px;
	}
	.image-section-01 .b,  
	.image-section-03 .b {
		grid-column: 1 / span 12;
		grid-row: 2;
	}
	.image-section-02 .a {
		grid-column: 1 / span 12;
		grid-row: 1;
	}
	.image-section-02 .b {
		grid-column: 1 / span 6;
		grid-row: 2;
	}
}

@media screen and (max-width: 480px) {
	.image-section {
		grid-template-columns: 1fr;
		/* grid-template-rows: 1fr 1fr; */
	}
}

.booking-cta {
	clear: both;
	display: flex;
	justify-content: center;
	margin: 3rem auto;
}
@media screen and (max-width: 480px) {

	header, footer, main {
		/* margin: 0px 2rem; */
	}
	.image-section, footer section, .hero-text h1 {
		margin: 0 1rem;
	}
}

header, footer {
	max-width: 48rem;
	margin: 0 auto;
}
header {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	padding: 3rem 0;
	max-width: 48rem;
}
@media screen and (max-width: 480px) {
	footer {
		grid-template-columns: 1fr;
		/* grid-template-rows: auto auto; */
	}
}

footer section h2 {
	margin: .3em 0;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

/* pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
} */



/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
	color:var(--dark-gray);
}

header nav li a{
	text-decoration: none;
}

header nav li a:hover {
	border-bottom: 3px solid var(--cool-blue-1);
	text-decoration:none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	border-bottom: 3px solid var(--cool-blue-1);
}

img.logo {
	width: 260px;
}

section {
	max-width: 48rem;
	/* margin: 0 auto; */
}

.fee-cards-wrapper {
	margin: 0 auto;
	max-width: 48rem;
}
.fee-cards {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.fee-card {
	background-color: var(--cool-fill);
	padding: 1rem;
	margin: 0 9px .6rem;
}
@media screen and (max-width: 480px) {
	.fee-cards {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
  }

#mc_embed_signup {
	max-width: 48rem;
	margin: 0px auto;
}


/*------------------------------------*\
    $GUIDE
\*------------------------------------*/
.color-chips {
	display:flex;
	flex-flow: row wrap;
	justify-content:flex-start;
	margin: 0 auto;
}
.color-chip {
	margin: 0 10px;
}
.color-chip dl {
	margin: 0 0 10px;
}
.color-chip dl dd {
	margin-left: 0px;
	text-transform: uppercase;
}
.color-chip dl dt, 
.color-title {
	font-weight: 600;
}

.color-chip-circle {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.color-chip-a {background-color: var(--cool-blue-1);}
.color-title-a {color: var(--cool-blue-1);}
.color-chip-b {background-color: var(--cool-blue-2);}
.color-title-b {color: var(--cool-blue-2);}
.color-chip-c {background-color: var(--cool-blue-3);}
.color-title-c { color: var(--cool-blue-3);}
.color-chip-d {background-color: var(--hot-orange-1);}
.color-title-d { color: var(--hot-orange-1);}
.color-chip-e {background-color: var(--hot-orange-2);}
.color-title-e { color: var(--hot-orange-2);}
.color-chip-f {
	background-color: var(--pure-white);
	border: 1px solid var(--html-gray);
}
.color-title-f { color: inherit;}
.color-chip-g {
	background-color: var(--cool-white);
	border: 1px solid var(--html-gray);
}
.color-title-g { color: inherit;}
.color-chip-gg {
	background-color: var(--cool-fill);
	border: 1px solid var(--html-gray);
}
.color-title-gg { color: inherit;}
.color-chip-h {
	background-color: var(--hot-white);
	border: 1px solid var(--html-gray);
}
.color-title-h { color: inherit;}
.color-chip-i {background-color: var(--light-gray);}
.color-title-i { color: inherit;}
.color-chip-j {background-color: var(--html-gray);}
.color-title-j { color: var(--html-gray);}
.color-chip-k {background-color: var(--dark-gray);}
.color-title-k { color: var(--dark-gray);}

.fill-box {
	width: 100%;
}
.fill-box-gg {
	background-color: var(--cool-fill);
	border: none;
}
.fill-box-gg h1 {
	color: var(--cool-blue-1);
	padding: 1em;
}

.book-session-link {
	display:flex;
	justify-content:space-around;
}
.book-session-link a, .book-session-link a:visited {
	border-bottom: 6px solid var(--hot-orange-1);
	color: var(--dark-gray);
	text-decoration: none;
	font-size:1.6em;
}
.book-session-link a:hover {
	border-bottom: 6px solid var(--hot-orange-2);
	color: var(--dark-gray);
	text-decoration: none;
}



/*------------------------------------*\
    $POSTS
\*------------------------------------*/

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 0;
}
form.newsletter-sign-up {
	grid-template-columns: 1fr 7rem;
}

form label {
  display: none;
}

input,
textarea,
button, a.button {
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: var(--sans-serif), sans-serif;
	
}
button, a.button {
	background-color: var(--hot-orange-1);
	color: var(--white);
}

input,
textarea {
	border: 1px solid var(--html-gray);
	background-color: transparent;
}

button, button:active, a.button:active {
	background-color:transparent;
	color: var(--hot-orange-2);
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
}
button:hover, a.button:hover {
	background-color: var(--hot-orange-2);
	color: var(--white);
}

/* @media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
} */
