:root {
	--white: #ffffff;
	--blue: blue;
	--cool-blue-1: #033e48;
	--cool-blue-2: #006683;
	/* --cool-blue-3: #02849f; */
	--cool-blue-3: #417482;
	--hot-orange-1: #db850d;
	--hot-orange-2: #d95029;
	--pure-white: #ffffff;
	--cool-white: #fafcfd;
	--cool-fill: #f0f6f8;
	--hot-white: #fefcfa;
	--hot-fill: #ffffff;
	--light-gray: #d3d3d3;
	--aaa-gray: #aaaaaa;
	--html-gray: #9a9a9a;
	--dark-gray: #585858;
	--serif: poynter-oldstyle-display-nar, serif;
	--sans-serif: acumin-pro-condensed, sans-serif;
	/* breakpoint variables */
	--bp-small: 25;
	--bp-medium: 45;
	--bp-large: 55;
	--bp-xlarge: 65;
	/* colors */
	--color-bg: #f9f9fd;
	--color-text: #414141;
	/* initial values  */
	--text-wght: 400;
	--text-wdth: 100;
	--text-opsz: 16;
	/* set px value sizes */
	--p-size-s-px: 18;
	--p-size-m-px: 22;
	--p-size-l-px: 26;
	--h1-size-s-px: 24;
	--h1-size-m-px: 36;
	--h1-size-l-px: 52;
	--h2-size-s-px: 18;
	--h2-size-m-px: 24;
	--h2-size-l-px: 36;
	/* set scale values */
	--p-size-min: 1;
	--p-size-mid: 1.125;
	--p-size-max: 1.25;
	--p-lh-min: 1.3;
	--p-lh-mid: 1.4;
	--p-lh-max: 1.6;
	--p-wdth-min: 90;
	--p-wdth-mid: 95;
	--p-wdth-max: 100;
	--h1-size-min: 1.8;
	--h1-size-mid: 2.0;
	--h1-size-max: 2.6;
	--h1-size-super: 3.8;
	--h1-lh-min: 1.2;
	--h1-lh-mid: 1.3;
	--h1-lh-max: 1.4;
	--h1-lh-super: 1.5;
	--h1-wdth-min: 85;
	--h1-wdth-mid: 92.5;
	--h1-wdth-max: 100;
	--h1-wght-min: 600;
	--h1-wght-mid: 600;
	--h1-wght-max: 700;
	--h2-size-min: 1.2;
	--h2-size-mid: 1.5;
	--h2-size-max: 1.8;
	--h2-lh-min: 1.05;
	--h2-lh-mid: 1.075;
	--h2-lh-max: 1.1;
	--h2-wdth-min: 85;
	--h2-wdth-mid: 92.5;
	--h2-wdth-max: 100;
	--h2-wght-min: 600;
	--h2-wght-mid: 600;
	--h2-wght-max: 700; }

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--sans-serif), sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: var(--cool-white);
	color: var(--dark-gray);
}

h1, .h1 {
	--text-opsz: 22;
	--text-wght: 600;
	font-family: var(--serif);
	color: var(--cool-blue-1);
	font-size: calc( var(--h1-size-min) * 1em);
	font-stretch: calc( var(--h1-wdth-min) * 1%);
	font-synthesis: none;
	font-weight: var(--h1-wght-min);
	line-height: var(--h1-lh-min);
	max-width: 48rem;
	font-variant: common-ligatures, oldstyle-nums;
	font-feature-settings: "liga", "onum";
	transition: all 0.5s ease-in-out; }
	@media screen and (min-width: 25em) {
	  h1 {
		line-height: calc(( var(--h1-lh-min) * 1em ) + ( var(--h1-lh-max) - var(--h1-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
		font-size: calc(( var(--h1-size-min) * 1em ) + ( var(--h1-size-max) - var(--h1-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); } }
	@media screen and (min-width: 45em) {
	  h1 {
		--text-opsz: 22;
		font-stretch: calc( var(--h1-wdth-mid) * 1%);
		font-weight: var(--h1-wght-mid);
		max-width: 48rem; } }
	@media screen and (min-width: 55em) {
	  h1 {
		font-weight: var(--h1-wght-max);
		max-width: 48rem; } }
	@media screen and (min-width: 65em) {
	  h1 {
		--text-opsz: 30;
		font-size: calc( var(--h1-size-max) * 1em);
		font-stretch: calc( var(--h1-wdth-max) * 1%);
		line-height: var(--h1-lh-max);
		max-width: 48rem; 
		} 
	}
h1 {
	margin: 2rem auto 1rem;
}
h1 a, h1 a:visited {
	color: var(--cool-blue-1);
	border-bottom: 6px solid;
	text-decoration: none;
}
h1 a:hover {
	color: var(--cool-blue-2);
}

h2, .h2 {
	--text-opsz: 18;
	--text-wght: 600;
	font-family: var(--sans-serif);
	color: var(--cool-blue-3);
	/* opacity: 0.6; */
	font-size: calc( var(--h1-size-min) * 1em);
	font-stretch: calc( var(--h1-wdth-min) * 1%);
	font-synthesis: none;
	font-weight: var(--h1-wght-min);
	line-height: var(--h1-lh-min);
	margin: 0.8em auto .3em;
	max-width: 48rem;
	text-transform: uppercase;
	font-variant: common-ligatures, oldstyle-nums;
	font-feature-settings: "liga", "onum";
	transition: all 0.5s ease-in-out; 
}
	@media screen and (min-width: 25em) {
	  h2 {
		line-height: calc(( var(--h2-lh-min) * 1em ) + ( var(--h2-lh-max) - var(--h2-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
		font-size: calc(( var(--h2-size-min) * 1em ) + ( var(--h2-size-max) - var(--h2-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); 
		} 
	}
	@media screen and (min-width: 45em) {
	  h2 {
		--text-opsz: 18;
		font-stretch: calc( var(--h2-wdth-mid) * 1%);
		font-weight: var(--h2-wght-mid);
		max-width: 48rem; 
		} 
	}
	@media screen and (min-width: 55em) {
	  h2 {
		font-weight: var(--h2-wght-max);
		max-width: 48rem; 
		} 
	}
	@media screen and (min-width: 65em) {
	  h2 {
		--text-opsz: 24;
		font-size: calc( var(--h2-size-max) * 1em);
		font-stretch: calc( var(--h2-wdth-max) * 1%);
		line-height: var(--h2-lh-max);
		max-width: 48rem; 
		} 
	}

p, ul {
	--text-opsz: 16;
	--text-width: calc( var(--p-vf-wdth) * .9 );
	font-size: calc( var(--p-size-min) * 1em);
	font-stretch: calc( var(--p-wdth-min) * 1%);
	font-synthesis: none;
	/* font-weight: var(--text-wght); */
	font-weight: 400;
	/* font-variation-settings: "opsz" var(--text-opsz); */
	/* -webkit-hyphens: auto;
	hyphens: auto; */
	line-height: var(--p-lh-min);
	margin: 0 auto;
	max-width: 48rem;
	transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out, word-spacing 0.5s ease-in-out, line-height 0.5s ease-in-out; }
	@media screen and (min-width: 25em) {
	  p, ul {
		line-height: calc(( var(--p-lh-min) * 1em ) + ( var(--p-lh-max) - var(--p-lh-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
		font-size: calc(( var(--p-size-min) * 1em ) + ( var(--p-size-max) - var(--p-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); } }
	@media screen and (min-width: 45em) {
	  p, ul {
		--text-opsz: 18;
		font-stretch: calc( var(--p-wdth-mid) * 1%);
		max-width: 48rem; } }
	@media screen and (min-width: 55em) {
	  p, ul {
		max-width: 48rem; } }
	@media (min-width: 65em) {
	  p, ul{
		--text-opsz: 20;
		font-size: calc( var(--p-size-max) * 1em);
		font-stretch: calc( var(--p-wdth-max) * 1%);
		line-height: var(--p-lh-max);
		max-width: 48rem; 
		} 
	}
	p + p {
	  margin-top: 1em; }
	
	p.secondary-text {
		color: var(--html-gray);
	}

ul {
	list-style: none;
	/* list-style-image: url(/static/img/splatter-bullet.png); */
	max-width: 48rem;
	margin: 0 auto;
	padding: 0;
	/* font-size: calc( var(--p-size-min) * 1em); */
}

li {
	padding-left: 2rem;
	text-indent: -1.4rem;
}

section ul li::before {
	content: " 🔸";
}

a {
	color: #006683;
}
a:visited {
	color: #006683;
}

.hero-text {
	background-color: var(--cool-fill);
	padding:1.2rem 0;
	margin-bottom: 3rem;
}
.hero-text h1 {
	--text-opsz: 22;
}
@media screen and (min-width: 25em) {
	.hero-text h1 {
	  line-height: calc(( var(--h1-lh-super) * 1em ) + ( var(--h1-lh-super) - var(--h1-lh-super) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
	  font-size: calc(( var(--h1-size-max) * 1em ) + ( var(--h1-size-max) - var(--h1-size-max) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
	}
}
@media screen and (min-width: 65em) {
	.hero-text h1 {
		font-size: calc( var(--h1-size-super) * 1em);
		line-height: var(--h1-lh-super);
	}
}





/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.image-section {
	display: flex;
	margin: 3rem auto;
	max-width: 68rem;
	display: grid;
	grid-template-columns: repeat(1fr, 12);
	column-gap: 2rem;
	align-items: center;
}
.image-section-01 .a,  
.image-section-03 .a {
	grid-column: 1 / span 6;
	grid-row: 1;
}

.image-section-01 .b,  
.image-section-03 .b {
	grid-column: 6 / span 6;
	grid-row: 1;
}
.image-section-02 .a {
	grid-column: 6 / span 6;
	grid-row: 1;
}
.image-section-02 .b {
	grid-column: 4 / span 6;
	grid-row: 1;
}
.image-section .a img {
	max-width: 100%;
}

@media screen and (max-width: 480px) {
	.image-section { 
		margin-bottom: 2rem;
	}
	
	.image-section-01 .a,  
	.image-section-03 .a {
		grid-column: 1 / span 12;
		grid-row: 1;
	}
	.image-section-01 .b,  
	.image-section-03 .b {
		grid-column: 1 / span 12;
		grid-row: 2;
	}
	.image-section-02 .a {
		grid-column: 1 / span 12;
		grid-row: 1;
	}
	.image-section-02 .b {
		grid-column: 1 / span 6;
		grid-row: 2;
	}
}

@media screen and (max-width: 480px) {
	.image-section {
		grid-template-columns: 1fr;
		/* grid-template-rows: 1fr 1fr; */
	}
}

.about-image-section {
	display:grid;
	max-width: 48rem;
	margin: 0 auto;
	grid-template-columns: 4fr 8fr;
	column-gap: 2rem;
}
@media screen and (max-width: 480px) {
	.about-image-section {
		grid-template-columns: 1fr;
		/* grid-template-rows: 1fr 1fr; */
		margin: 0 1rem;
	}
}
.about-image-section img {
	width: 100%;
}

.booking-cta {
	clear: both;
	display: flex;
	justify-content: center;
	margin: 3rem auto;
}
@media screen and (max-width: 718px) {
	.image-section, footer section, .hero-text h1 {
		margin: 0 1rem;
	}
}

header, footer {
	/* max-width: 48rem; */
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 2rem auto;
	max-width: 48rem;
}
@media screen and (max-width: 600px) {
	header {
		flex-flow: column nowrap;
		justify-content: center;
	}
	header a, header nav {
		display: flex;
		justify-content: center;
	}
	header nav ul, header nav ul li:first-child {
		padding-left: 0px;
	}
}
footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
	padding: 3rem 0;
	/* max-width: 48rem; */
	max-width: 60rem;
}
@media screen and (max-width: 480px) {
	header {
		padding: 0 1rem;
	}
	footer {
		grid-template-columns: 1fr;
		/* grid-template-rows: auto auto; */
	}
}

footer section h2 {
	margin: 3rem 0 .3em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

/* pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
} */



/* Header Logo (style as h2)
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
} */

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
	font-size: 120%;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
	color:var(--dark-gray);
}

header nav li a{
	text-decoration: none;
	border-bottom: 3px solid var(--light-gray);
}

header nav li a:hover {
	border-bottom: 3px solid var(--cool-blue-1);
	text-decoration:none;
	color:var(--dark-gray);
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	border-bottom: 3px solid var(--cool-blue-1);
}

img.logo {
	width: 260px;
}

.fee-cards-wrapper {
	margin: 0 auto;
	max-width: 48rem;
}
.fee-cards {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.fee-card {
	background-color: var(--cool-fill);
	padding: 1rem;
	margin: 0 9px .6rem;
}
@media screen and (max-width: 480px) {
	.fee-cards {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
  }

#mc_embed_signup {
	max-width: 48rem;
	margin: 0px auto;
}
.mc-field-email {
	display: grid;
	grid-template-columns: 1fr 100px;
}

/*------------------------------------*\
    $CONTACT-FORM
\*------------------------------------*/

input,
textarea,
button, a.button, input.button  {
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: var(--sans-serif), sans-serif;
}

button, a.button, input.button {
	background-color: var(--hot-orange-1);
	color: var(--white);
	cursor: pointer;
	border: 1px solid var(--hot-orange-1);
	-webkit-appearance: none;
	border-radius: 0;
}
button:hover, a.button:hover, input.button:hover {
	background-color: var(--hot-orange-2);
	border: 1px solid var(--hot-orange-2);
}

input,
textarea {
	border: 1px solid var(--html-gray);
	background-color: transparent;
}

button, button:active, a.button:active {
	background-color:transparent;
	color: var(--hot-orange-2);
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
}
button:hover, a.button:hover {
	background-color: var(--hot-orange-2);
	color: var(--white);
}




/*------------------------------------*\
    $GUIDE
\*------------------------------------*/
.color-chips {
	display:flex;
	flex-flow: row wrap;
	justify-content:flex-start;
	margin: 0 auto;
	max-width: 48rem;
}
.color-chip {
	margin: 0 10px;
}
.color-chip dl {
	margin: 0 0 10px;
}
.color-chip dl dd {
	margin-left: 0px;
	text-transform: uppercase;
}
.color-chip dl dt, 
.color-title {
	font-weight: 600;
}

.color-chip-circle {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.color-chip-a {background-color: var(--cool-blue-1);}
.color-title-a {color: var(--cool-blue-1);}
.color-chip-b {background-color: var(--cool-blue-2);}
.color-title-b {color: var(--cool-blue-2);}
.color-chip-c {background-color: var(--cool-blue-3);}
.color-title-c { color: var(--cool-blue-3);}
.color-chip-d {background-color: var(--hot-orange-1);}
.color-title-d { color: var(--hot-orange-1);}
.color-chip-e {background-color: var(--hot-orange-2);}
.color-title-e { color: var(--hot-orange-2);}
.color-chip-f {
	background-color: var(--pure-white);
	border: 1px solid var(--html-gray);
}
.color-title-f { color: inherit;}
.color-chip-g {
	background-color: var(--cool-white);
	border: 1px solid var(--html-gray);
}
.color-title-g { color: inherit;}
.color-chip-gg {
	background-color: var(--cool-fill);
	border: 1px solid var(--html-gray);
}
.color-title-gg { color: inherit;}
.color-chip-h {
	background-color: var(--hot-white);
	border: 1px solid var(--html-gray);
}
.color-title-h { color: inherit;}
.color-chip-i {background-color: var(--light-gray);}
.color-title-i { color: inherit;}
.color-chip-j {background-color: var(--html-gray);}
.color-title-j { color: var(--html-gray);}
.color-chip-k {background-color: var(--dark-gray);}
.color-title-k { color: var(--dark-gray);}

.fill-box {
	width: 100%;
}
.fill-box-gg {
	background-color: var(--cool-fill);
	border: none;
}
.fill-box-gg h1 {
	color: var(--cool-blue-1);
	padding: 1em;
}

.book-session-link {
	display:flex;
	justify-content:space-around;
}
.book-session-link a, .book-session-link a:visited {
	border-bottom: 6px solid var(--hot-orange-1);
	color: var(--dark-gray);
	text-decoration: none;
	font-size:1.6em;
}
.book-session-link a:hover {
	border-bottom: 6px solid var(--hot-orange-2);
	color: var(--dark-gray);
	text-decoration: none;
}

     

/*------------------------------------*\
    $BOOK A SESSION
\*------------------------------------*/
.header h1 .healcode-title-text {
	display:none;
}
select#session_type {
	font-size: inherit !important;
	font-family: inherit !important;
	color: inherit;
	/* color: white !important; */
	padding: 8px 20px !important;
	line-height: 1.3;
	margin-bottom: 1rem;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	/* border-radius: .5em; */
	border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	background-color: transparent;
	/* background-color: var(--cool-blue-2); */
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, var(--cool-blue-2) 0%,var(--cool-blue-2) 100%); */
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 2rem top 50%, 0 0;
	background-size: .65em auto, 100%;
}
select#session_type::-ms-expand {
    display: none;
}
select#session_type:hover {
    border-color: #888;
}
select#session_type:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
select#session_type option {
    font-weight:normal;
}

/* calendar styles */
div.healcode .ui-widget-header {
	border: none;
	background: none;
}
.pre-filters div:nth-child(2) {
	display:none;
}
div.healcode .ui-widget-content {
	background: none;
	padding: 1rem;
	margin-bottom: 1rem;
}
div.healcode .ui-corner-all {
	border-radius: none;
	border-bottom-right-radius: none;
}

.ui-datepicker th, .ui-datepicker td, .ui-datepicker-title {
	font-family: var(--sans-serif);
}
.ui-datepicker-title {
	color: var(--dark-gray);
}
.ui-datepicker th, .ui-datepicker td { 
	color: var(--html-gray);
}
.ui-datepicker-inline {
	width: 100%;
}
div.healcode .ui-state-default, div.healcode .ui-widget-content .ui-state-default, div.healcode .ui-widget-header .ui-state-default {
	background: none;
	background-color: var(--light-gray);
}

/* sessions to choose */
h1.healcode-date-label {
	font-family: var(--sans-serif);
	/* make this mirror an h2 */
	color: var(--cool-blue-3);
	/* opacity: 0.6; */
	font-size: calc( var(--h1-size-min) * 1em);
}
.trainer-label {
	display:none;
}
.appointment-date-block {
	margin-bottom: 2rem;
	border-bottom: 1px solid var(--aaa-gray);
	padding: 1rem 0;
}
.appointment-date-block:nth-child(1) {
	border-top: 1px solid var(--aaa-gray);
	margin-top: 3rem;
}

/* select buttons and stuff */
a.hc-button {
	padding: 8px 20px !important;
}
.hc_footer {
	display:none;
}


/*------------------------------------*\
    $POSTS
\*------------------------------------*/

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	/* border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white); */
}

@media screen and (max-width: 48rem) {
	article {
		padding: 1rem;
		margin: 0 auto;
	}
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}
main > section > article > h1 > a {
	line-height: 1.6;
}
main > nav {
	max-width: 48rem;
	margin: auto;
}
main > nav > a {
	font-size: 160%;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* @media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
} */
