:root {
	--white: #ffffff;
	--blue: blue;
	--cool-blue-1: #033e48;
	--cool-blue-2: #006683;
	--cool-blue-3: #02849f;
	--hot-orange-1: #db850d;
	--hot-orange-2: #d95029;
	--pure-white: #ffffff;
	--cool-white: #fafcfd;
	--cool-fill: #f0f6f8;
	--hot-white: #fefcfa;
	--hot-fill: #ffffff;
	--light-gray: #d3d3d3;
	--html-gray: #9a9a9a;
	--dark-gray: #333333;
	--serif: poynter-oldstyle-display-nar, serif;
	--sans-serif: acumin-pro-condensed, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--sans-serif), sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--cool-white);
	color: var(--dark-gray);
}

main {
	max-width: 37.5em;
	margin: auto;
}

.hero-text {
	font-family: var(--serif);
	font-style: normal;
	font-variant: common-ligatures, oldstyle-nums;
	font-feature-settings: "liga", "onum";
}
h1, .h1 {
	font-size: 2em;
	margin: .67em 0;
	font-weight: 600;
}
h2 {
	font-family: acumin-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	Text-transform: lowercase;
	font-variant: small-caps;
	font-feature-settings:"smcp"
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--blue);
}

a[href]:not(:hover) {
	text-decoration: none;
}

header,
main,
footer {
	padding: 1em;
}
footer {
	display: flex;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

header {
	display:flex;
	justify-content: space-between;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	list-style: square;
	list-style-image: url(#);
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

img.logo {
	width: 160px;
}




/*------------------------------------*\
    $GUIDE
\*------------------------------------*/
.color-chips {
	display:flex;
	flex-flow: row wrap;
	justify-content:flex-start;
	margin: 0 -10px;
}
.color-chip {
	margin: 0 10px;
}
.color-chip dl {
	margin: 0 0 10px;
}
.color-chip dl dd {
	margin-left: 0px;
	text-transform: uppercase;
}
.color-chip dl dt, 
.color-title {
	font-weight: 600;
}

.color-chip-circle {
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.color-chip-a {background-color: var(--cool-blue-1);}
.color-title-a {color: var(--cool-blue-1);}
.color-chip-b {background-color: var(--cool-blue-2);}
.color-title-b {color: var(--cool-blue-2);}
.color-chip-c {background-color: var(--cool-blue-3);}
.color-title-c { color: var(--cool-blue-3);}
.color-chip-d {background-color: var(--hot-orange-1);}
.color-title-d { color: var(--hot-orange-1);}
.color-chip-e {background-color: var(--hot-orange-2);}
.color-title-e { color: var(--hot-orange-2);}
.color-chip-f {
	background-color: var(--pure-white);
	border: 1px solid var(--html-gray);
}
.color-title-f { color: inherit;}
.color-chip-g {
	background-color: var(--cool-white);
	border: 1px solid var(--html-gray);
}
.color-title-g { color: inherit;}
.color-chip-gg {
	background-color: var(--cool-fill);
	border: 1px solid var(--html-gray);
}
.color-title-gg { color: inherit;}
.color-chip-h {
	background-color: var(--hot-white);
	border: 1px solid var(--html-gray);
}
.color-title-h { color: inherit;}
.color-chip-i {background-color: var(--light-gray);}
.color-title-i { color: inherit;}
.color-chip-j {background-color: var(--html-gray);}
.color-title-j { color: var(--html-gray);}
.color-chip-k {background-color: var(--dark-gray);}
.color-title-k { color: var(--dark-gray);}

.fill-box {
	width: 100%;
}
.fill-box-gg {
	background-color: var(--cool-fill);
	border: none;
}
.fill-box-gg h1 {
	color: var(--cool-blue-1);
	padding: 1em;
}

.book-session-link {
	display:flex;
	justify-content:space-around;
}
.book-session-link a, .book-session-link a:visited {
	border-bottom: 6px solid var(--hot-orange-1);
	color: var(--dark-gray);
	text-decoration: none;
	font-size:1.6em;
}
.book-session-link a:hover {
	border-bottom: 6px solid var(--hot-orange-2);
	color: var(--dark-gray);
	text-decoration: none;
}



/*------------------------------------*\
    $POSTS
\*------------------------------------*/

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}
form.newsletter-sign-up {
	grid-template-columns: 1fr 40px;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
