<footer role="contentinfo">
  <section>
    <h2>Further Questions</h2>
    <p>If you need information about the work, please visit <a href="/offerings/" rel="noopener">Offerings</a> for an in-depth description. For questions about your upcoming session, visit <a href="/faq/" rel="noopener">FAQs</a>.</p>

    <p>For all other inquiries, email me at info@jennifersokolov.com.</a> 

    <h2>Monthly Letters</h2>
    <p>If you’d like to receive my monthly Letter, please enter your email. You can also read <a href="https://us16.campaign-archive.com/home/?u=cf0efb93043ec59fb36fd1287&id=0a01040063" target="_blank">previous letters in the archive</a>.</p>

      {% include "components/form.njk" %}

    </p>
  </section>
  <section>
    <h2>Online Sessions</h2>
    <div class="inline-message">
      <p><span class="inline-icon">&#9432;</span> All sessions will remain online until further notice</p>
    </div> 
    <p>Energy Therapy and Yoga translate seamlessly into the digital environment. Let’s be home, be safe, and heal.</p>
    <p>For more info on how online sessions work or how to prepare for them, visit <a href="/faq/" rel="noopener">FAQs</a> or contact me at info@jennifersokolov.com.</p>
  </section>
</footer>
