<footer>
  <section>
    <h2>Further Questions</h2>
    <p>Email me at jennifer.sokolov(at)gmail.com</a>
    <p>If you need more details about the work, itself, please visit my <a href="#">Offerings</a>.</p>
  </section>
  <section>
    <h2>Monthly Letter</h2>
    <p>If you’d like to receive my monthly Letter, please enter your email.</p>
    {% include "components/form.njk" %}
    <h2>Studio Location</h2>
    <address>
    Kinetic Body Lab<br>
    41 Union Square West #517 (at 17th Street)<br>
    New York, NY 10003
    </address>
  </section>
</footer>
