<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <!-- social sharing information -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://jennifersokolov.netlify.com/static/img/preview-sokolov.png">
  <meta name="twitter:title" content="Jennifer Sokolov Energy Therapy | Yoga">
  <meta name="twitter:description" content="This is a description of the website">
  <meta property="og:title" content="Jennifer Sokolov Energy Therapy | Yoga">
  <meta property="og:description" content="This is a description of the website">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://jennifersokolov.com">
  <meta property="og:image" content="https://jennifersokolov.netlify.com/static/img/preview-sokolov.png">
  <!-- netlify cms script -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <!-- Include the typography from typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/ysr8hzy.css">
</head>
