<nav>
  {# <ul>
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
  </ul> #}
  <ul>
    <li>
      <a href="/about/" target="_parent">About</a>
    </li>
    <li>
      <a href="/blog/" target="_parent">Blog</a>
    </li>
    <li>
      <a href="https://clients.mindbodyonline.com/classic/ws?studioid=689276&stype=-9" target="_blank">Book a Session</a>
    </li>
  </ul>
</nav>
