---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
{# <p>{{ title }}</p> #}

{{ layoutContent | safe }}

{% set postslist = collections.posts %} 
{% include "components/postslist.njk" %}
