---
layout: layouts/base.njk
section: home
---
<div class="fill-box fill-box-gg">
<h1 class="hero-text ">This is some hero content</h1>
<p>And some more paragraph text</p>
</div>

{{ layoutContent | safe }}
