---
layout: layouts/base.njk
section: home
---

<div class="hero-text">
  <h1>{% intro %}</h1>
</div>

<div class="hero-image">
  <img src="{% image %}">
</div>

<section>
{% process %} 
</section>

{{ offerings }}

{{ fees }}

{{ booking }}






